<a href="https://colab.research.google.com/github/Venkatesh-5764/Venkatesh-5764/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str='vivek ChodImEllA'
count=0
for i in str:
  if(i=='a' or i=='A' or i=='e' or i=='E' or i=='i' or i=='I' or i=='o'or i=='O' or i=='u' or i=='U'):
    count=count+1
print(count)

6

In [7]:
c=int(input('enter the number of rows'))#rectangle star pattern
for i in range(c+1):
  for j in range(c+1):
    print('$',end='')
  print()

enter the number of rows9
$$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$$

In [8]:
r=int(input('enter the number of rowws'))#hollow star Pattern
c=int(input('enter the number of columns'))
for i in range(r):
  for j in range(c):
    if i==0 or i==r-1 or j==0 or j==c-1:
      print('*',end='')
    else:
      print(' ',end='')
  print()

enter the number of rowws4
enter the number of columns6
******
*    *
*    *
******

In [12]:
r=int(input('enter the number of rows'))#Rhombuus Star pattern
for i in range(r):
  for j in range(1,i+1):
    print(' ',end='')
  for j in range(0,r):
    print('*',end='')
  print()

enter the number of rows8
********
 ********
  ********
   ********
    ********
     ********
      ********
       ********

In [17]:
#mirrored Rhombus
n=int(input("enter the number of rows"))
for i in range(n):
  for j in range(n-i-1,0,-1):
    print(' ',end='')

  for j in range(n):
    print('8',end='')


  print()

enter the number of rows5
    88888
   88888
  88888
 88888
88888

In [19]:
n=int(input('enter the number'))
for i in range(1,n):
  for j in range(0,i):
    print('*',end="")
  print()

enter the number10
*
**
***
****
*****
******
*******
********
*********

In [ ]:
n=int(input('enter the number'))
for i in range(n):
  for j in range()